# Godot — generated editor cache (never commit)
.godot/
/android/
# Godot is doing stuff to the diagrams in the docs which is causing weird git status stuff, so hiding that too.
docs/**/*.import 
docs/**/*.uid

build/
export/
doc/
agents.md
.freebuff/
.history/
.DS_Store
Thumbs.db
*.tmp
.agents/
skills-lock.json

